<p class="logo">ShopNow</p>
<div class="cart d-flex justify-between align-center">
    <div class="cart d-flex justify-between align-center">
        <fa-icon 
            class="cart-icon"
            [icon]="faShoppingCart">
        </fa-icon>
    </div>
    <p id="count" class="d-flex justify-center align-center">{{ cartCount }}</p>
</div>

<!-- <nav class="categories d-flex justify-around align-center">
    <p class="cursor-pointer">All</p>
    <p class="cursor-pointer">electronics</p>
    <p class="cursor-pointer">jewelery</p>
    <p class="cursor-pointer">men's clothing</p>
    <p class="cursor-pointer">women's clothing</p>
</nav> -->