form{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.searchTerm {
    width: 80%;
    border: 1px solid var(--theme);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus{
  color: var(--theme);
}
.searchButton {
  width: 20%;
  height: 30px;
  border: 3px solid var(--light);
  background: var(--theme);
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  margin-left: 5px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}